body {
  background: lavender;
  font-family: 'Roboto Mono', monospace;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

p {
  font-size: 28px;
  font-weight: 100;
}

#home-videoContainer {
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-gap: 0;
  width: 100vw;
  height: 100vh;
  margin: -8px;
}

#menuIndex {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;

}

.IconIndex {
  width: 28px;
  cursor: pointer;
}

.grid-item {
  overflow: hidden;

}

.grid-video {
  object-fit: cover;
  justify-items: center;
  align-items: center;
  transition-duration: 500ms;
}

.grid-video:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
  cursor: pointer;
}

/*children pages*/
.fullScreenVideo {
  width: 100vw;
  height: 100vh;
  margin: -8px;
  overflow: hidden;
}

.navHotSpot {
  width: 50px;
  height: auto;
  cursor: pointer;
  z-index: 5;
}

.overlayLayerIso {
  width:50px;
  height:50px;
  position: absolute;
  left:50%;
  top:50%;
}

.pageSolo {
  object-fit: cover;
  justify-items: center;
  align-items: center;
}

.rotateButton_div {
  position: absolute;
  bottom: 6vh;
  width: 100%;
  text-align: center;
}

.rotateButton {
  position: relative;
  width: 80px;
  height: auto;
  cursor: pointer;
  z-index: 5;
}

/*nav icons*/
.navButtonDiv {
  position: absolute;
}

.navButton {
  width: 80px;
  height: auto;
  cursor: pointer;
  z-index: 5;
}
